
{% extends "base.html"%}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <section class="hero">
        <div class="container">
        <h1> Welcome, {{ user.username}}</h1>
    </div>
        </section>

    <section class="features">
        <div class="container">
            <p>You can add you transactions in New Transactions and view transactions in Transactions. Both of these can also be performed via AI Chat.</p>
        <p>
        <a href="{{ url_for('transactions') }}">Transactions</a>
        </p>
        </div>
    </section>
{% endblock %}
