        <div class="card-body">
          <form action="/transactions/insert" method="POST" 
                hx-post="/transactions/insert" 
                hx-swap="outerHTML" 
                hx-on::after-request="this.reset()">

            <!-- Date -->
            <div class="mb-3 row">
              <label for="fdate" class="col-sm-3 col-form-label">Date</label>
              <div class="col-sm-9">
                <input type="date" class="form-control" id="fdate" name="date" required>
              </div>
            </div>

            <!-- Income/Expense -->
            <fieldset class="mb-3 row">
              <legend class="col-form-label col-sm-3 pt-0">Type</legend>
              <div class="col-sm-9">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="in_or_exp" id="credit" value="Income" checked>
                  <label class="form-check-label" for="credit">Credit</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="in_or_exp" id="debit" value="Expense">
                  <label class="form-check-label" for="debit">Debit</label>
                </div>
              </div>
            </fieldset>

            <!-- Amount -->
            <div class="mb-3 row">
              <label for="famount" class="col-sm-3 col-form-label">Amount</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="famount" name="amount" required>
              </div>
            </div>

            <!-- Category -->
            <div class="mb-3 row">
              <label for="fcategory" class="col-sm-3 col-form-label">Category</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="fcategory" name="category" required>
              </div>
            </div>

            <!-- Comments -->
            <div class="mb-3 row">
              <label for="fcomments" class="col-sm-3 col-form-label">Comments</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="fcomments" name="comments" rows="3"></textarea>
              </div>
            </div>

            <!-- Submit -->
            <div class="text-end">
              <button type="submit" class="btn btn-success px-4">Submit</button>
            </div>

          </form>
      </div>
    </div>
  </div>
</div>
