<form hx-target="#budget_table" hx-post="/budgets/insert" hx-swap="outerHTML" hx-on::after-request="this.reset()">
	<div class="row mb-3">
		<label for="fdata" class="col-sm-2 col-form-label">Date</label>
		<div class="col-sm-2">
			<input type="date" class="form-control" id="fdata" name="date" required><br>
		</div>
	</div>
	<fieldset class="row mb-3">
		<legend class="col-form-label col-sm-2 pt-0">Credit or Debit</legend>
		<div class="col-sm-2">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="credit_or_debit" id="gridRadios1"
					value="CRE" checked>
				<label class="form-check-label" for="gridRadios1">
					Credit
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="credit_or_debit" id="gridRadios2"
					value="DEB">
				<label class="form-check-label" for="gridRadios2">
					Debit
				</label>
			</div>
		</div>
	</fieldset>
	<div class="row mb-3">
		<label for="famount" class="col-sm-2 col-form-label">Amount</label>
		<div class="col-sm-2">
			<input type="number" class="form-control" id="amount" name="amount" required>
		</div>
	</div>
	<div class="row mb-3">
		<label for="fcategory" class="col-sm-2 col-form-label">Category</label>
		<div class="col-sm-2">
			<input type="text" id="fcategory" class="form-control" name="category" required>
		</div>
	</div>
	<div class="row mb-3">
		<label for="fcomments" class="col-sm-2 col-form-label">Comments</label>
		<div class="col-sm-2">
			<textarea id="fcomments" name="comments" class="form-control"></textarea>
		</div>
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>
