{% extends "base.html"%}
{% block title %}Budgeting App{% endblock %}
{% block content %}
    <section class="hero">
        <div class="container">
    <h1> Welcome to the Budgeting App</h1>
    </div>
        </section>

    <section class="features">
        <div class="container">
            <h2>Why Choose Budgeting App?</h2>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Elit cursus nostra natoque suscipit leo suscipit posuere faucibus. Mollis senectus rutrum volutpat rhoncus curabitur velit ut. Duis justo dapibus, efficitur euismod fermentum quam! Iaculis est sed risus nibh sit. Quisque himenaeos dui himenaeos tincidunt, conubia faucibus hac sapien. Justo turpis eu faucibus amet ex gravida? Felis lectus vehicula elementum ipsum cras rhoncus fames eros felis. Leo pellentesque nibh tempor phasellus purus cursus feugiat mus.</p>
            <p>✔ Visualize your spending habits</p>
        </div>
    </section>
{% endblock %}
