{% extends "base.html"%}
{% block title %}Budgeting App{% endblock %}
{% block content %}
    <section class="hero">
        <div class="container">
    <h1> Welcome to the Budgeting App</h1>
    </div>
        </section>

    <section class="features">
        <div class="container">
            <h2>Why Choose Budgeting App?</h2>
            <p>This is a simple budgeting app to track your personal finance. You can also use Chat AI to add and get summary of your transactions.</p>
            <p>✔ Visualize your spending habits</p>
        </div>
    </section>
{% endblock %}
