            <div id="transactions_table">
                {% if transactions %}
                <table class="table table-sm table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Category</th>
                            <th scope="col">Type</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.category.name }}</td>
                            <td>{{ transaction.type.value }}</td>
                            <td>{{ transaction.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                </p>No transaction found<p>
                {% endif %}
            </div>
