
<div id="budget_table">
	{% include 'summary.html' %}<br>
	<p class="h2"> Last 10 transactions </p>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				{% for entry in entries[0].keys() %}
                {% if entry != "id" %}
				<th scope="col">{{ entry }}</th>
                {% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody hx-confirm="Are you sure?" hx-target="#budget_table"  hx-swap="outHTML">
			{% for entry in entries %}

			<tr>
				{% for key in entry.keys() %}
                {% if key != "id" %}
				<td>{{ entry[key] }}</td>
                {% endif %}
				{% endfor %}
            <td>
                <button  class="btn danger" hx-delete="/budgets/{{entry["id"]}}">

<span>Delete</span>
                </button>
			</tr>
            </td>
			{% endfor %}
		</tbody>
	</table>
</div>
